.exer{
    margin-top: 180px;
    margin-bottom: 40px;
}
.exer h1{
    text-align: center;
    font-family: "crisman Pro", sans-serif;
    color: #5B9279;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-shadow: 2px -2px 2px #666;
    font-size: 48px;
}
.exer ul{
    margin: 50px 0;
}
.exer ul h4{
    font-size: 32px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-shadow: 1px -2px 1px #888;
}
.exer ul p{
    font-size: 26px;
    font-style: italic;
}